@import './variables.scss';
@import '~bulma/bulma.sass';

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  min-height: 100vh;
  background: var(--bg-gradient);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --true-black: #000000;
  --accent-1: #5070d9;
  --accent-2: #26c679;
  --accent-2-alpha: #5070d9 7%;
  --grey-1: #75808a;
  --grey-7: #f5f6f7;
  --grey-10: #f1f2f3;
  --grey-20: #e5e7e8;
  --grey-30: #d6d9dc;
  --grey-70: #9ea6ad;
  --utility-red: #ff560e;
  --utility-green: #26c679;
  --utility-orange: #ffa800;
  --background: #ffffff;
  --alpha-15: rgba(255, 255, 255, 0.15);
  --alpha-60: rgba(255, 255, 255, 0.6);
  --black-alpha-30: rgba(0, 0, 0, 0.3);
  --bg-gradient: linear-gradient(
    114.27deg,
    #4c6c92 0%,
    #62679e 31.67%,
    #a8a5dc 80.01%
  );
  --preview-gradient: linear-gradient(
    340.48deg,
    #4c6c92 26.17%,
    #62679e 45.04%,
    #a8a5dc 73.83%
  );
}

hr {
  margin: 0;
  &.is-grey {
    border: 1px solid var(--grey-10);
  }
}

.hide-on-mobile {
  @include mobile {
    display: none;
  }
}

.spread {
  display: flex;
  justify-content: space-between;
}

.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.top-right {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.center {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.width {
  &__80 {
    width: 80%;
  }

  &__70 {
    width: 70%;
  }

  &__65 {
    width: 65%;
  }
}

.text {
  &__xs2 {
    @include XS2;
    @include TextColors;
  }
  &__xs {
    @include XS;
    @include TextColors;
  }
  &__xs-bold {
    @include XS-Bold;
    @include TextColors;
  }
  &__small {
    @include Small;
    @include TextColors;
  }
  &__small-semi {
    @include Small-Semi;
    @include TextColors;
  }
  &__small-bold {
    @include Small-Bold;
    @include TextColors;
  }
  &__medium {
    @include Medium;
    @include TextColors;
  }
  &__medium-m {
    @include Medium-Medium;
    @include TextColors;
  }
  &__medium-semi {
    @include Medium-Semi;
    @include TextColors;
  }
  &__medium-bold {
    @include Medium-Bold;
    @include TextColors;
  }
  &__large {
    @include Large;
    @include TextColors;
  }
  &__large-m {
    @include Large-Medium;
    @include TextColors;
  }
  &__large-semi {
    @include Large-Semi;
    @include TextColors;
  }
  &__large-bold {
    @include Large-Bold;
    @include TextColors;
  }
  &__xl {
    @include XL;
    @include TextColors;
  }
  &__xl-m {
    @include XL-Medium;
    @include TextColors;
  }
  &__xl-semi {
    @include XL-Semi;
    @include TextColors;
  }
  &__xl-bold {
    @include XL-Bold;
    @include TextColors;
  }
  &__xl2 {
    @include XL2;
    @include TextColors;
  }
  &__xl2-semi {
    @include XL2-Semi;
    @include TextColors;
  }
  &__xl3 {
    @include XL3;
    @include TextColors;
  }
  &__xl3-semi {
    @include XL3-Semi;
    @include TextColors;
  }
  &__xl4 {
    @include XL4;
    @include TextColors;
  }
  &__xl5 {
    @include XL5;
    @include TextColors;
  }
  &__xl5-bold {
    @include XL5-Bold;
    @include TextColors;
  }
  &__xl6 {
    @include XL6;
    @include TextColors;
  }
  &__xl6-semi {
    @include XL6-Semi;
    @include TextColors;
  }
  &__xl6-bold {
    @include XL6-Bold;
    @include TextColors;
  }
  &__xl7-m {
    @include XL7-Medium;
    @include TextColors;
  }
}

.n-box {
  padding: 1rem;

  &.has-shadow {
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
  }

  &.is-primary {
    background: var(--accent-1);
  }

  &.is-secondary {
    background: var(--accent-2);
  }

  &.is-background {
    background: var(--background);
  }

  &.is-transparent {
    background: transparent;
  }

  &.is-dark {
    background: var(--grey-20);
  }

  &.is-light {
    background: var(--grey-10);
  }

  &.is-gradient {
    background: var(--preview-gradient);
  }
}

.is-bg-gradient {
  background: var(--bg-gradient);
}

.button {
  &.is-primary {
    background: var(--accent-1);
  }

  &.is-secondary {
    background: var(--accent-2);
    color: var(--background);
    border-radius: 12px;
  }

  &.is-transparent {
    background: transparent;
    border: none;
    @include Large-Semi;
    color: var(--grey-70);
  }

  &.is-full-width {
    width: 100%;
  }

  &.is-dropdown {
    background: var(--grey-10);
    height: 24px;
    @include Medium-Regular;
    border-radius: 32px;
  }

  &.big-action {
    height: 3rem;
    width: 100%;
  }
}

.icon {
  &.is-small {
    height: 22px;
    width: 22px;
  }

  &.is-xs {
    height: 16px;
    width: 16px;
  }

  &.is-large {
    height: 6rem;
  }
}

.topnav {
  padding-left: 2rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;

  .links {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    a {
      @include Large-Medium;
      text-decoration: none;
      color: var(--background);
      height: 2.5rem;
      padding: 0 1rem;
      border-radius: 0.75rem;
      // margin: 0 0.5rem;
      line-height: 2.5rem;
      &.is-active {
        background-color: var(--alpha-15);
      }
    }
  }
}

.modal {
  .modal-background {
    backdrop-filter: blur(6px);
  }
  .modal-content {
    max-height: 100vh !important;
    width: 70%;
    border-radius: 12px;
    background-color: var(--background);
    @include mobile {
      width: 95%;
      max-height: 90%;
    }
    // overflow-y: overlay;
    .card {
      min-height: 20rem;
      text-align: center;
      padding-top: 1rem;
      .card-content {
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.input-container {
  border-radius: 8px;
  padding: 0 1rem 1rem 1rem;
  .input {
    background-color: transparent;
    border: none;
    border-radius: 12px;
    height: 4rem;
    @include XL3-Semi;
    color: var(--true-black);
    padding-right: 0rem !important;
    box-shadow: none !important;
    &:focus {
      outline: none !important;
      border-color: inherit !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: var(--grey-70);
    }

    &.has-text-center {
      text-align: center;
    }

    &.is-large-text {
      @include XL8-Medium;
      margin-left: 2.5rem;
    }
  }
}

.time-input-container {
  border-radius: 8px;
  padding: 0;
  width: 80%;
  .input {
    background-color: var(--grey-10);
    border: none;
    border-radius: 12px;
    height: 3.5rem;
    @include XL3-Semi;
    color: var(--true-black);
    padding-right: 1rem !important;

    &:focus {
      outline: none !important;
      border-color: inherit !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: var(--grey-1);
    }

    &.has-text-center {
      text-align: center;
    }

    &.is-large-text {
      @include XL8-Medium;
    }
  }
}

.co-input-container {
  border-radius: 4px;
  padding: 0;
  width: 70%;
  .input {
    background-color: var(--grey-10);
    border: none;
    border-radius: 4px;
    height: 36px;
    @include XL3-Semi;
    color: var(--true-black);
    padding-right: 1rem !important;

    &:focus {
      outline: none !important;
      border-color: inherit !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: var(--grey-1);
    }

    &.has-text-center {
      text-align: center;
    }

    &.is-large-text {
      @include XL8-Medium;
    }
  }
}

.control {
  .icon {
    &.is-left {
      height: 36px !important;
      margin-top: 0.75rem;

      img {
        height: 24px;
      }

      button {
        cursor: pointer;
      }
    }

    &.is-right {
      pointer-events: initial;
      height: 2.25rem;
      color: var(--grey-1);
    }
  }
}

//remove arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[disabled] {
  background-color: inherit !important;
  cursor: initial !important;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.skel {
  display: block;
  height: 2rem;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &.tiny {
    height: 1rem;
    width: 20%;
  }
}

.skel::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--true-black) 50%,
    transparent 100%
  );
  animation: load 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.toast-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 10000;

  background-color: var(--true-black);

  padding-right: 1rem;
  overflow-wrap: break-word;
  a {
    text-decoration: underline;
  }
}

.toast {
  div {
    width: 18rem;
    background-color: var(--true-black);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: 0;
  height: fit-content;
  background-color: transparent;
  border: none;
  .tooltip-text {
    @include Small;
    text-align: left;
    visibility: hidden;
    width: 15rem;
    top: -50%;
    left: 100%;
    margin-left: 0.5rem;

    &.open-left {
      top: -50%;
      left: -15rem;
      margin-left: 0;
      margin-right: 0.5rem;
    }

    &.open-narrow {
      width: 10rem;
      // margin: 0;
    }

    background-color: var(--accent-1);
    color: var(--background);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    overflow: visible;
  }
  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }

  img {
    // margin: auto;
    transform: translateY(0.15rem);
  }
}

.sort {
  visibility: hidden;
  &.up {
    transform: rotate(0deg);
  }
  &.down {
    transform: rotate(180deg);
  }
  &.active {
    visibility: visible;
  }
}

.tabs {
  cursor: pointer;
  &.is-filled {
    border-radius: 14px;
    background: var(--grey-10);
    min-height: 3rem;
    padding: 0.25rem;

    .tab {
      line-height: 2.5rem !important;
      @include Large-Medium;

      padding: 0 1rem;
      &.is-active {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        background: var(--background);
        color: var(--accent-1);
      }
    }
  }

  &.is-filled-dark {
    padding: 4px;
    height: 36px;
    border-radius: 14px;
    background: var(--grey-20);

    .tab {
      line-height: 28px !important;
      @include Medium-Medium;
      color: var(--grey-1);

      padding: 0 0.5rem;
      &.is-active {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        background: var(--background);
        color: var(--true-black);
      }
    }
  }

  &.is-underline {
    background: transparent;
    justify-content: flex-start;
    .tab {
      height: 2.5rem;
      border-bottom: 2px solid transparent;
      margin-right: 2rem;
      @include XL-Medium;
      line-height: 2.5rem;
      font-weight: 500;
      &.is-active {
        border-bottom: 2px solid var(--accent-1);
        color: var(--accent-1);
      }
    }
  }

  &.is-plain {
    .tab {
      width: 50%;
      text-align: center;
      background: var(--grey-10);
      height: 3rem;
      line-height: 3rem !important;
      @include XL2-Semi;
      color: var(--grey-1);
      &.is-active {
        background: var(--background);
        color: var(--true-black);
      }
    }
  }
}

.data-point {
  border: 1px solid transparent;

  background-size: 0 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.3s cubic-bezier(0.555, 0.23, 0.715, 0.955);

  &.is-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__label {
    @include Medium-Medium;
    color: var(--grey-1);
  }

  &__value {
    @include XL3-Medium;
    // color: var(--brand-white);
    // animation: createBox 0.35s;
    height: 100%;

    &.min {
      min-width: 2rem;
    }

    &.primary {
      color: var(--true-black);
    }
  }

  &__change {
    @include XL-Semi;
    padding: 4px 6px 4px 4px;
    border-radius: 4px;
    &.is-positive {
      color: var(--background);
      background-color: var(--utility-green);
    }
    &.is-negative {
      color: var(--background);
      background-color: var(--utility-green);
    }
    &.is-neutral {
      color: grey;
    }
  }
}

.center-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;
}

.bar {
  display: flex;
  align-items: center;
  background: var(--background);
  cursor: pointer;
  height: 5rem;
  border-top: 1px solid var(--grey-10);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:hover {
    background-color: var(--grey-10);
  }

  .token {
    display: flex;
    align-items: center;
    img {
      height: 2.5rem;
    }
  }
}

.user-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  cursor: pointer;
  height: 5rem;
  border-top: 1px solid var(--grey-10);
  // margin-left: -1.5rem;
  // margin-right: -1.5rem;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem;

  &:hover {
    background-color: var(--grey-10);
  }

  .token {
    display: flex;
    align-items: center;
    img {
      height: 2.5rem;
    }
  }
}

.is-full-width {
  width: 100%;
}

.square {
  height: 0.5rem;
  width: 0.5rem;

  &.primary {
    background-color: var(--accent-1);
  }

  &.secondary {
    background-color: var(--accent-2);
  }

  &.red {
    background-color: var(--utility-red);
  }

  &.black {
    background-color: var(--true-black);
  }
}

.token-size {
  height: 2.5rem;

  &.is-large {
    height: 4rem;
  }

  &.is-xl {
    height: 6rem;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  top: 3px;
  // left: 0px;
  // bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-1);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.title-block {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.connect-wrapper {
  position: absolute;
  right: 1rem;
}

.wallet-adapter-button {
  background-color: var(--accent-2) !important;
  height: 2.5rem !important;
  border-radius: 12px !important;
}

.portfolio {
  min-height: 100vh;
  .port-tabs {
    margin-top: 2rem;
  }
}

#portfolio {
  // width: 30rem;
}

.small-data {
  &.is-right {
    text-align: right;
  }
}

.is-right {
  text-align: right;
}

.warning {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--alpha-15);
}

.mt {
  &__2 {
    margin-top: 2rem;
  }
}

.br {
  &__4 {
    border-radius: 4px;
  }

  &__8 {
    border-radius: 8px;
  }

  &__12 {
    border-radius: 12px;
  }
}

.params {
  border: 1px solid var(--true-black);
  border-radius: 12px;
}

.change-params {
  border: 1px solid var(--true-black);
  border-radius: 12px;
}

.time-tabs {
  position: absolute;
  z-index: 10;
  top: 0.65rem;
  left: 0.5rem;
}

.buffer {
  height: 4.5rem;
  width: 75%;

  &.white {
    width: 25%;
    height: 4.5rem;
    background-color: var(--background);
  }
}

.user-supply {
  width: 100%;
}

.balance-box {
  width: 100%;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  min-height: 15rem;
}

.user-rows {
  .tab-container {
    width: 50%;
  }
}

.collateral-switch {
  width: 30rem;
  margin: 0 auto;
}

.horizontal-slider {
  padding: 2rem 0;
  width: 100%;
  // max-width: 500px;
  height: 1rem;
  margin: auto;
}
.slider-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ccc;
  // border: 0.5rem solid red;
  border-radius: 100%;
  display: block;
  background-image: url('./assets/slider.svg');
  height: 38px;
  width: 38px;
  transform: translate(0px, -15px);

  // box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
// .slider-thumb.active {
//   background-color: grey;
// }
.example-track {
  position: relative;
  background: var(--grey-70);
  height: 0.5rem;
}

.example-track.example-track-0 {
  background: var(--accent-1);
}

.example-mark.example-mark-active {
  border: 2px solid #00d4ff;
  background-color: rgb(255, 255, 255);
}

.marks {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0rem;
  // margin-right: 3%;
}
